<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Django REST with React</title>
</head>
<body>
    {% if not user.is_authenticated %}
    <h1>Hello there stranger, lets brew!</h1>
    <div>Please <a href="{% url 'login' %}">Log In</a> </div>
    {% else %}
    <h1>Hello {{user.first_name}}, lets brew!</h1>
    <div> <a href="{% url 'logout' %}">Logout</a> </div>
    {% endif %}

  <div id="app">
      <!-- React will load here -->
  </div>
  <div id="abv">

  </div>
</body>
{% load static %}

<script src="{% static 'frontend/main.js' %}"></script>
</html>